.body {
  display: grid;
  background: #f6f6f6;
  font-family: 'Questrial', Arial, sans-serif;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-areas:
    'header header'
    'main aside'
    'footer footer';
}
.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 182px;
  grid-area: header;
  align-items: center;
  background: white;
  padding: 60px;
}
.logo {
  display: grid;
  grid-column: 1/2;
  gap: 20px;
}
.nav {
  display: grid;
  grid-column: 3/4;
  grid-template-columns: 33.3% 33.3% 33.3%;
}
.nav_link {
  display: grid;
  text-decoration: none;
  font-size: 17.1613px;
  color: black;
  font-weight: 600;
  justify-content: space-around;
}
.button {
  display: grid;
  grid-column: 4/5;
  height: 50px;
  background: #75bf7a;
  color: #ffffff;
  font-weight: 600;
  font-size: 22px;
  border-radius: 6px;
  border: none;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}
.main {
  display: grid;
  grid-template-rows: 80% 20%;
  grid-area: main;
  margin-left: 60px;
  margin-top: 100px;
}
.main-title {
  display: grid;
  grid-row: 1/2;
  font-weight: bolder;
  font-size: 60.7259px;
}
.section {
  display: grid;
  grid-template-rows: 60% 40%;
}
.section-text {
  display: grid;
  font-weight: 500;
  font-size: 26px;
  color: #9e9da2;
}
.link {
  display: grid;
  grid-template-columns: 47% 47%;
  justify-content: space-between;
  grid-row: 2/3;
  height: 60px;
  width: 600px;
}
.button-1 {
  display: flex;
  border-radius: 4.3px;
  background: black;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.button-2 {
  display: flex;
  border-radius: 4.3px;
  background: black;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.aside {
  display: grid;
  align-items: center;
  justify-content: center;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 800px 350px;
  grid-area: footer;
  background: #75bf7a;
  padding: 30px;
  margin-left: 60px;
  margin-right: 60px;
  border-radius: 10px;
  gap: 20px;
  align-items: center;
}
.footer-text {
  display: grid;
  color: white;
  font-weight: 500;
  font-size: 24.6006px;
  margin: 20px;
}
.input {
  border-radius: 4.3px;
  border: none;
  padding: 20px;
}
.button-3 {
  display: grid;
  border-radius: 4.3px;
  border: none;
  background: black;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 22px;
  height: 60px;
  margin: 20px;
}
.aside {
  grid-area: aside;
}
